# VERY IMPORTANT
.env
.env.*
!.env.example
scripts/

# DOCKER STUFF
docker-compose.yml
Dockerfile
services/*/Dockerfile

# DEV STUFF
.git
.gitignore
.gitattributes
__pycache__/
.vscode/
.github/
.devcontainer/
.pre-commit-config.yaml
.prettierignore
justfile
README.md
docs/
node_modules/

# LOGS
data/
*.log
logs/
