name: Update Docker Hub README

on:
  push:
    branches: [main, master]
    paths:
      - "README.md"
      - ".github/workflows/docker-hub-readme.yml"

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Update ow-server README
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: nicolaiprodromov/ow-server
          readme-filepath: ./README.md

      - name: Update ow-bridge README
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: nicolaiprodromov/ow-bridge
          readme-filepath: ./README.md

      - name: Update ow-oai README
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: nicolaiprodromov/ow-oai
          readme-filepath: ./README.md
